.container {
    margin-top: 50px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}

label {
    display: block;
    
    font-size: 15px;
}

.container img {
    margin-bottom: 50px;
    width: 50%;
    height: 50%;
}

.container form {
    margin-bottom: 100px;
}