<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="image convert,free image convert,image convert to jpg,image convert to pdf,image converter,image convert to 20kb,image convert to png,image converter jpeg to jpg,image convert to text,image convert into pdf,image convert to jpg 200 kb,image convert jpeg to jpg,image convert a4 size,image convert as pdf,how to convert an image to pdf,how to convert an image to svg,how to convert an image to jpg,how to convert an image to png,image convert by jpg,image convert by pdf,image convert bmp,bitmap image convert to pdf,bulk image convert to pdf,bulk image convert,bulk image convert to jpg,jpg to png,png to jpg,image to pdf,img to pdf">
  <meta name="description" content="fastconvert.xyz is online application which converts image from one format to another (eg. jpg to png, png to
  jpg, jpg to pdf and many more). This Image Converter supports converting image to the following formats: JPG,
  PNG,WEBP, PDF, GIF, BMP, TIFF etc">
    <title>About Us | fastconvert.xyz</title>
    <link rel="stylesheet" href="static/css/navbar.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7608727426286029"
    crossorigin="anonymous"></script>
  <script src="static/js/navbar.js"></script>
</head>
<body>
    {% extends "navbar.html" %}
    {% block navbar %}
    <main>
      <section>
        <h2>About Us</h2>
        <p>At File Conversion Services, we specialize in converting image and document file types to meet your needs. Whether you need to convert a PNG to a JPG, a PDF to a DOCX, or any other file type, we've got you covered.</p>
        <p>Our team of experts uses the latest tools and techniques to ensure that your files are converted quickly and accurately, so you can get back to what you do best. We also offer  top-notch customer service, so you can trust us to handle all of your file conversion needs.</p>
      </section>
      <section>
        <h2>Our Services</h2>
        <p>We offer a wide range of image and document file conversion services, including:</p>
        <ul>
          <li>Image format conversion (e.g. PNG to JPG, GIF to SVG, etc.)</li>
          <li>Document format conversion (e.g. PDF to DOCX, DOC to PDF, etc.)</li>
          <li>Batch conversion for large numbers of files</li>
          <li>Custom file conversion solutions tailored to your needs</li>
        </ul>
      </section>
      
      <article>
        <p>Feel free to contact us with any inquiries, questions or feedback. We'll do our best to get back to you as soon as possible.</p>
        <p><strong>Name:</strong> Shubham Mehar</p>
        <p><strong>Location:</strong> Bhopal, India</p>
        <p><strong>Email:</strong> <a href="mailto:shubhammehar100@gmail.com">shubhammehar100@gmail.com</a></p>
       
    </article>
    </main>
    {% endblock navbar %}
</body>
</html>