<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - fastconvert.xyx</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7608727426286029"
     crossorigin="anonymous"></script>
     <meta name="keywords" content="image convert,free image convert,image convert to jpg,image convert to pdf,image converter,image convert to 20kb,image convert to png,image converter jpeg to jpg,image convert to text,image convert into pdf,image convert to jpg 200 kb,image convert jpeg to jpg,image convert a4 size,image convert as pdf,how to convert an image to pdf,how to convert an image to svg,how to convert an image to jpg,how to convert an image to png,image convert by jpg,image convert by pdf,image convert bmp,bitmap image convert to pdf,bulk image convert to pdf,bulk image convert,bulk image convert to jpg,jpg to png,png to jpg,image to pdf,img to pdf">
     <meta name="description" content="fastconvert.xyz is online application which converts image from one format to another (eg. jpg to png, png to
     jpg, jpg to pdf and many more). This Image Converter supports converting image to the following formats: JPG,
     PNG,WEBP, PDF, GIF, BMP, TIFF etc">
    <link rel="stylesheet" href="static/css/contact.css">
    <link rel="stylesheet" href="static/css/navbar.css">
  <script src="static/js/navbar.js"></script>
  
</head>
<body>
    

{% extends 'navbar.html' %}
{% block navbar %}

<div class="container">

    <main class="container">
        <article>
            <h2>Contact Us</h2>
            <p>Feel free to contact us with any inquiries, questions or feedback. We'll do our best to get back to you as soon as possible.</p>
            <p><strong>Name:</strong> Shubham Mehar</p>
            <p><strong>Location:</strong> Bhopal, India</p>
            <p><strong>Email:</strong> <a href="mailto:shubhammehar100@gmail.com">shubhammehar100@gmail.com</a></p>
           <style>
            li{
                color: green;
            }
           </style>
        </article>
    </main>
    <img src="static/img/contact.webp" alt="Not found">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group" >
            <span>First Name :</span>
            <input type="text" name="fname"required>
        </div><br>
        <div class="form-group" >
            <span>LastName :</span>
            <input type="text" name="lname"required>
        </div><br>
         <div class="form-group">
            <span>Email :</span>
            <input type="email" name="email"required>
        </div><br>
         <div class="form-group">
            <span>mobile :</span>
            <input  type="number" name="phone"required>
        </div><br> 
         <div class="form-group">
            <span>Location :</span>
            <input  type="text" name="location"required>
        </div><br> 
        <div class="form-group">
            <span>Query : </span>
            <textarea name="textarea" id="" cols="30" rows="5"required></textarea>
        </div><br>
        <input class="btn btn-primary" id="btn" type="submit"name="submit">
    </form>
    
</div>
{% endblock navbar %}
</body>
</html>